.container-fuild {
        padding: 5%;
        margin: 0 5%;

    .text-center2{
            color: map-get($colores, secundario);
        }
    .text-center3{
            color: map-get($colores, primario);
        }          
    .card {
        background-color: map-get($colores, diez);
        border-radius: 12px;
        padding: 4%;
        margin-top: 5%;
    }
    .card2 {
        background-color: map-get($colores, once);
        border-radius: 12px;
        padding: 4%;
        margin-top: 5%;
    }
    .card-body {
        color: map-get($colores, secundario);
    }

}
